@import "./color_schemes/dark";

$blue-000: #dbeafe;
$blue-100: #93c5fd;
$blue-200: #60a5fa;
$blue-300: #3b82f6;

$body-background-color: #0b1120;
$sidebar-color: #111827;
$search-background-color: #111827;
$table-background-color: #0f172a;

$body-heading-color: #e5eefc;
$body-text-color: #cbd5e1;
$link-color: $blue-300;
$nav-child-link-color: #94a3b8;

$btn-primary-color: $blue-300;
$base-button-color: #1e293b;

$border-color: #334155;
$search-result-preview-color: #94a3b8;
