$blue-000: #dbeafe;
$blue-100: #bfdbfe;
$blue-200: #60a5fa;
$blue-300: #2563eb;

$body-background-color: #ffffff;
$sidebar-color: #f8fafc;
$search-background-color: #ffffff;
$table-background-color: #ffffff;

$body-heading-color: #0f172a;
$body-text-color: #334155;
$link-color: $blue-300;
$nav-child-link-color: #475569;

$btn-primary-color: $blue-300;
$base-button-color: #f1f5f9;

$border-color: #e2e8f0;
$search-result-preview-color: #64748b;
